<h4>Dependiendo el rol que cumpla tu usuario dentro de la empresa se visualizaran ciertos botones. </h4>
<br><br>
<a class="btn btn-lg btn-primary btn-block btn-signin" href="RegistrarFactura">REGISTRAR FACTURA</a></div>
<a class="btn btn-lg btn-primary btn-block btn-signin" href="VerFactura">VER FACTURAS</a></div>
<a class="btn btn-lg btn-primary btn-block btn-signin" href="ModificarFactura">MODIFICAR FACTURA</a></div>
<a class="btn btn-lg btn-primary btn-block btn-signin" href="EliminarFactura">ELIMINAR FACTURA</a></div>