

<button class="btn btn-lg btn-primary btn-block btn-signin" id="IngresoLog" type="submit" asp-controller="Usuarios" asp-action="#">BUSCAR UNA EMPRESA</button>
<br><br>
<h4>Si no tiene una empresa solo se vera el boton de "CREAR UNA EMPRESA</h4>
<button class="btn btn-lg btn-primary btn-block btn-signin" id="IngresoLog" type="submit" asp-controller="Usuarios" asp-action="#">CREAR UNA EMPRESA</button>
<br><br>
<h4>Si ya tiene una empresa solo se vera el boton de "VER UNA EMPRESA</h4>
<a class="btn btn-lg btn-primary btn-block btn-signin" href="Empresa">VER EMPRESA</a></div>

