@model demomvc.Models.Factura

@{
    ViewData["Title"] = "Registro";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<hr />
<h4>Hols</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CodigoFactura" class="control-label"></label>
                <input asp-for="CodigoFactura" class="form-control" />
                <span asp-validation-for="CodigoFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacaTracto" class="control-label"></label>
                <input asp-for="PlacaTracto" class="form-control" />
                <span asp-validation-for="PlacaTracto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacaCarreta" class="control-label"></label>
                <input asp-for="PlacaCarreta" class="form-control" />
                <span asp-validation-for="PlacaCarreta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoConductor" class="control-label"></label>
                <input asp-for="CodigoConductor" class="form-control" />
                <span asp-validation-for="CodigoConductor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Origen" class="control-label"></label>
                <input asp-for="Origen" class="form-control" />
                <span asp-validation-for="Origen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaSalida" class="control-label"></label>
                <input asp-for="FechaSalida" class="form-control" />
                <span asp-validation-for="FechaSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destino" class="control-label"></label>
                <input asp-for="Destino" class="form-control" />
                <span asp-validation-for="Destino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDestino" class="control-label"></label>
                <input asp-for="FechaDestino" class="form-control" />
                <span asp-validation-for="FechaDestino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoCarga" class="control-label"></label>
                <input asp-for="CodigoCarga" class="form-control" />
                <span asp-validation-for="CodigoCarga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEntregaDocumento" class="control-label"></label>
                <input asp-for="FechaEntregaDocumento" class="form-control" />
                <span asp-validation-for="FechaEntregaDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoFacturado" class="control-label"></label>
                <input asp-for="MontoFacturado" class="form-control" />
                <span asp-validation-for="MontoFacturado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="FechaEntregaDocumento" class="text-danger"></span>
            </div>
            <<div class="form-group">
                <label asp-for="FechaCobrado" class="control-label"></label>
                <input asp-for="FechaCobrado" class="form-control" />
                <span asp-validation-for="FechaCobrado" class="text-danger"></span>
            </div>
            <<div class="form-group">
                <label asp-for="MontoCobrado" class="control-label"></label>
                <input asp-for="MontoCobrado" class="form-control" />
                <span asp-validation-for="MontoCobrado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Login">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}